GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_MAX_WORKERS=10

WHISPER_MODEL_SIZE=small
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8
WHISPER_LANGUAGE=en
WHISPER_BEAM_SIZE=5

INTENT_MODEL_NAME=facebook/bart-large-mnli
INTENT_DEVICE=cpu
INTENT_CONFIDENCE_THRESHOLD=0.35

TARGET_SAMPLE_RATE=16000
MIN_CHUNK_DURATION_SEC=1.0
SESSION_BUFFER_MAX_SEC=30.0

LOG_DIR=/var/log/hearintent
WORKER_VERSION=1.0.0
